<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Login</h3>
    <fieldset>
    	<form action="login" method="post">
    		<input type="text" name="username" required placeholder="Username" />
    		<input type="password" name="password" required placeholder="Password" />
    		<input type="submit" value="Login"/>
    	</form>
    </fieldset>
  </body>
</html>